//Colors
$c-white: #FFF;
$c-dark-black: #19202C;
$c-black: #000;
$c-light-grey: #ECEFF2;
$c-aquamarine: #12D1C6;
$c-light-blue: #ECEFF2;
$c-blue: #3F88EB;

//Breakpoints
$media-desktop: 1440px;
$media-desktop-medium: 1280px;
$media-desktop-small: 1200px;

$media-tablet: 1024px;
$media-tablet-small: 800px;
$media-tablet-xs: 620px;

$media-mobile-large: 700px;
$media-mobile: 500px;
$media-mobile-small: 375px;