.product {
    width: 100%;
    z-index: 2;
    display: flex;
    margin-top: rem(56px);

    @include min-screen($media-tablet) {
        justify-content: center;
    }

    @include screen(0, $media-tablet) {
        flex-direction: column;
        align-items: center;
        margin-top: rem(10px);
    }

    &__images {
        max-width: rem(470px);

        @include min-screen($media-tablet) {
            margin-right: rem(90px); 
        }

        @include screen(0, $media-tablet) {
            margin-bottom: rem(35px);
        }

        @include screen(0, $media-mobile-large) {
            width: 70%;
        }

        img {
            width: 100%;
            height: auto;
        }

        &-container {
            display: inline-block;
            max-width: 100%;
            vertical-align: top;
            width: fit-content;
        }

        &-item {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: crosshair;
            display: block;
            max-width: 100%;
            padding-bottom: 10em;
            width: 100em;
        }
    }

    &__details {
        width: 100%;

        @include min-screen($media-tablet) {
            max-width: rem(460px);
        }

        @include screen(0, $media-tablet) {
            padding-left: rem(32px);
            padding-right: rem(32px);
        }
    }

    &__title {
        @include t-regular;
        @include type(50,56);
        color: $c-dark-black;
        margin-bottom: rem(20px);
    }

    &__rating {
        display: flex;
        width: 100%;
        margin-bottom: rem(20px);

        svg {
            width: rem(18px);
            height: rem(18px);
            fill: $c-light-grey-3;
            pointer-events: none;
        }
          
        .stars {
            display: flex;
            flex-flow: row-reverse;
            justify-content: flex-end;
        }

        .star {
            padding-right: rem(2px);
        }
          
        .star.is-selected svg, 
        .star.is-selected ~ .star svg {
            fill: $c-yellow;
        }
          
        .star:hover svg, 
        .star:hover ~ .star svg {
            fill: $c-yellow;
        }

        &-stars {
            margin-right: rem(20px);
            display: inline-block;
        }

        &-counter {
            @include t-regular;
            @include type(14,17);
            color: rgba($color: $c-dark-black, $alpha: .3);
        }

        &-average {
            @include t-bold;
            @include type(14,17);
            color: $c-black;
            margin-right: rem(20px);
        }
    }

    &__price {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: rem(16px);

        &--current {
            @include t-heavy;
            @include type(32,42);
            color: $c-dark-black;
            margin-right: rem(30px);
        }

        &--sale {
            @include t-alt-medium;
            @include type(16,24);
            color: $c-dark-black;
            opacity: .3;
            text-decoration: line-through;
        }
    }

    &__description {
        @include t-regular;
        @include type(14,24);
        color: $c-dark-black;
        margin-bottom: rem(50px);
    }

    &__quantity {
        @include min-screen($media-tablet) {
            margin-bottom: rem(50px);
        }
    }

    &__actions {
        display: flex;
        align-items: center;

        @include screen(0, $media-tablet-xs) {
            flex-direction: column-reverse;
        }
    }

}
