.site-search {
    &__wrapper {
        position: relative;
    }

    &__input-wrapper {
        flex: 1 1 0%;
    }

    &__input {
        @include t-regular;
        @include type(16,24);
        appearance: none;
        border-radius: rem(50px);
        height: rem(48px);
        width: 100%;
        border: 0;
        background-color: $c-light-blue;
        padding-left: rem(30px);
        padding-right: rem(60px);
        color: $c-dark-black;

        &::placeholder {
            opacity: .4;
        }

        &:focus {
            outline-width: 0;
            background-color: $c-light-blue;
        }

        @include screen(0, $media-tablet) {
            display: none;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: rem(25px);
        text-indent: -9999px;
        height: rem(48px);
        width: rem(30px);
        background-color: $c-light-blue;
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            background: url('images/search-icon.svg');
            width: rem(17px);
            height: rem(17px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include screen(0, $media-tablet) {
                background: url('images/search-icon-white.svg');
            }
        }

        @include screen(0, $media-tablet) {
            right: 0;
            background-color: $c-aquamarine;
        }
    }
}