.wrapper {
    max-width: rem(1400px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $c-aquamarine;
    position: relative;
    margin: 0 auto;

    &:before {
        content: '';
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $c-white;

        @include screen(0, $media-tablet) {
            top: rem(200px);
            width: 100%;
        }
    }
}

.geoloaction {
    width: 100%;
    background-color: $c-blue;

    &__wrapper {
        max-width: rem(1400px);
        margin: 0 auto;
    }

    &__msg {
        @include t-regular;
        @include type(11,16);
        text-align: center;
        padding: rem(10px) 0;
        color: $c-white;
        letter-spacing: rem(1px);

        &-city,
        &-postcode,
        &-country {
            @include t-bold; 
            @include type(12,16);
            letter-spacing: 0;
        }

        &-cta {
            color: $c-white;
            text-decoration: underline;
            letter-spacing: 0;
        }
    }

    &__map {
        width: 100%;
        height: 400px;
        display: none;
        //background: $c-white;
    }
    
}

#map {
    width: 100%;
    height: 100%;
  }
